/* share styles */
* {
    margin: 0;
    padding: 0;
}

/* heading part start */
.section1_container {
    display: flex;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 50px 250px 50px 160px;

}

.sec1_contain_des {
    margin-right: 60px;
}

.sec1_contain_des h1 {
    width: 600px;
    color: #272727;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 32px;

}

.sec1_contain_des p {
    width: 554px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 32px;
}

.sec1_contain_des button {
    padding: 15px 30px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-size: 20px;
}


.sec1_contain_img img {
    width: 500px;
    height: 630px;
}

/* heading part end */

/* main part start */

/* title in main part start */
.title_container {
    text-align: center;
    margin-top: 100px;
}

.title_container h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.title_container p {
    width: 550px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: auto;
    margin-top: 10px;
}

/* title in main part end */

/* section_01 in main part start______bonus part */
.sec_contain {
    display: flex;
    align-items: center;
    width: 1020px;
    /* border: 1px solid aquamarine; */
    margin: auto;
    margin-top: 40px;
}


.sec_contain1 {
    text-align: center;
}


.contain1_img img {
    width: 250px;
    height: 300px;
}

.contain1_img {
    background-color: antiquewhite;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 100px 40px 0px 40px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.img2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.sec_contain a {
    color: #272727;
    font-size: 18px;
    font-weight: 700;

}

/* section_01 in main part end______bonus part */

/* section_02 in main part start */
.sec_contain2 {
    width: 1020px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid aquamarine; */
}

.delivery {
    text-align: center;
    padding: 30px;
    padding-bottom: 5px;
}

.delivery p {
    margin-top: 15px;
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 600;
}

/* section_02 in main part end */

/* section_03 in main part start */
.sec03_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 50px;
    padding: 50px;
}

.sec03_descrip h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.sec03_descrip p {
    width: 500px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
}

.sec03_btn {
    text-align: center;
    margin-top: 30px;
}

.sec03_btn button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 8px;
    background: #E55473;
}

/* section_03 in main part end */

/* section-04 in main start */
/* title part */
.title_sec04 {
    text-align: center;
    margin-top: 50px;
}

.title_sec04 h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.title_sec04 p {
    width: 30%;
    margin: auto;
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;

}

/* title part end */

/* section part start */
.sec04_container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    /* border: 1px solid black; */

}

.sec04_img img {
    width: 220px;
    height: 280px;
}

/* section part end */

/* section-04 in main end */

/* section-05 part start */
.sec05_container {
    background-image: url('/Assets/Rectangle\ 9.png');
    width: 1020px;
    margin: auto;
    text-align: center;

}

.sec05_descrip {
    margin-top: 50px;
    padding-top: 80px;
    margin-bottom: 20px;
}

.sec05_descrip h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.sec05_descrip p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}


.sec05_contact input {
    width: 500px;
    height: 40px;
    border-radius: 8px;
    background: #FFF;
    padding: 8px;
    padding-left: 15px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 80px;
    margin-top: 30px;

}

.sec05_contact button {
    width: 130px;
    height: 58px;
    padding: 8px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* section-05 part end */